#right {
    width: 44px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 55px;
    z-index: 10;
    color: var(--light-slate);
}

#left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}